@use "../../assets/scss/abstracts/" as *;
.cards-gallery {
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  gap: 1.25em;

  @include devices(tablet) {
    grid-template-columns: repeat(2, 1fr);
    background-color: $neutral;
    border-radius: 1em;
    padding: 35px;
    gap: 35px 45px;
  }
  @include devices(desktop) {
    grid-template-columns: repeat(3, 1fr);
    background-color: $neutral;
    border-radius: 1em;
    padding: 50px;
    gap: 50px 60px;
  }
}
