@use "./assets/scss/abstracts/" as *;
@use "./assets/scss/base/" as *;

// body {
//   // margin: 100px;
//   // font-face: times, sans-serif;
//   // font-family: "Courier New", Courier, monospace, sans-serif;
// }

// [id="root"] {
//   margin-top: 2.5%;
//   margin-right: 2vw;
//   margin-left: 2vw;
// }

.app {
  // plutot mettre en pixels

  justify-content: center;

  min-height: 100vh;
  display: flex;

  > *:not(footer) {
    // overflow: hidden;

    margin-right: 4vw;
    margin-left: 4vw;
  }
}
