@use "../../assets/scss/base/" as *;
@use "../../assets/scss/abstracts/" as *;

.banner {
  position: relative;
  display: flex;
  height: 200px;
  max-width: 1240px;
  background-color: $primary;
  margin-left: auto;
  margin-right: auto;

  border-radius: 1em;
  margin-top: 1.5em;
  margin-bottom: 1.4em;
  @include devices(tablet) {
    justify-content: center;
    margin-top: 2em;
    margin-bottom: 4em;
  }
  @include devices(desktop) {
    margin-top: 3em;
    margin-bottom: 5.8em;
  }

  h1 {
    justify-self: left;
    align-self: center;
    color: $lightest;
    position: absolute;
    font-size: 1.5rem;
    padding-left: 1em;
    padding-right: 1em;

    @include devices(desktop) {
      padding-left: 0;
      font-size: 1.5rem;
      text-align: center;
    }

    @include devices(tablet) {
      font-size: 2.25rem;
    }
    @include devices(desktop) {
      font-size: 3rem;
    }

    & span {
      display: block;

      @include devices(tablet) {
        display: inline;
      }
    }
  }

  img {
    width: 100%;
    border-radius: 10px;
    max-width: 1240px;
    object-fit: cover;
    max-height: 110px;
    filter: brightness(60%);

    margin: 0 auto;

    @include devices(tablet) {
      max-height: 150px;
    }
    @include devices(desktop) {
      max-height: 200px;
    }
  }
}
