@use "../../assets/scss/abstracts/" as *;
@use "../../assets/scss/base/" as *;

.banner {
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;

  padding-top: 1em;
  padding-bottom: 1em;
  @include devices(tablet) {
    padding-top: 3em;
    padding-bottom: 3em;
  }

  padding-left: 1.5em;
  border-radius: 1em;
  color: $lightest;
  background-size: cover;
  background-position: 20%;
  margin-top: 3em;
  margin-bottom: 5em;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.471);
}

.banner-home {
  background-image: url("../../assets/images/IMG.png");
  h1 {
    font-size: 1.5rem;
    @include devices(tablet) {
      font-size: 2.25rem;
    }
    @include devices(desktop) {
      font-size: 1.5rem;
      @include devices(tablet) {
        font-size: 2.25rem;
      }
      @include devices(desktop) {
        font-size: 3rem;
      }
      text-align: center;
    }
    & span {
      display: block;

      @include devices(desktop) {
        display: inline;
      }
    }
  }
}
